#{extends 'main.html'/}

<form id="selectProject">
    <fieldset>
        <legend>Liste des projet</legend>

        projet selectionné: <SELECT name="projectId">
    #{list items:listProjects, as:'project'}
        <Option value="${project.id}">${project.name}</Option>
    #{/list}
    </SELECT>
        <input type="submit" value="selectionner"/>

    </fieldset>
</form>
<div id="infoProject">
    <fieldset>
        <legend>Information sur le projet</legend>
        <div id="ajaxResponse"></div>
    </fieldset>
</div>



*{<form method="post" action=@{ProjectController.selectProject}>}*
    *{projet selectionné: <SELECT name="projectId">}*
*{#{list items:listProjects, as:'project'}}*
    *{<Option value="${project.id}">${project.name}</Option>}*
*{#{/list}}*
*{</SELECT>}*
    *{<input type="submit" value="selectionner"/>}*
*{</form>}*

*{<div id="infoProject">}*


*{</div>}*
<a href="@{Application.index}">Retour vers l'accueil</a>




