<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Création de tâche</title>
</head>
<body>
	<h1>TÂCHE</h1>

	<form action="@{TaskController.save}" method="post">
		Projet: <select> #{list items:listProjects, as:'Project'}
			<option value="@{Project.name}">@{Project.name}</option> #{/list}
		</select><br /> Nom :<input type="text" name="name" value="" /><br />
		Description :<input type="text" name="content" /><br /> Urgent :<input
			type="radio" name="urgent" value="0" checked> Oui <input
			type="radio" name="urgent" value="1"> Non <br> <input
			type="submit" value="Créer Tâche"><br> <a href="/">Retour</a>
	</form>

</body>
</html>