
#{extends 'main.html'/}

<h1>Affichage tâches</h1>

<ul>
#{list items:listTasks, as:'task'}
    <li>${task.name}:<br />

        Date de création: ${task.creation}
    *{@{if (task.urgent == 1) }*


        Nom de la tache: ${task.name} ${task.urgent ? "" : "(Urgent)"} <br />
        Description: ${task.content} <br />
        <form action="@{TaskController.changeUserTask}" method="post">
            <a>Utilisateur associé:<SELECT name="userId" >
                #{list items:listUsers, as:'user'}
                    <OPTION value="${user.id}" ${(task.user && (user.id == task.user.id)) ? "selected" : ""}>${user.name}</OPTION>
                #{/list}
            </SELECT>
                <input type="hidden" name="taskId" value="${task.id}" />
                <input type="submit" value="Changer utilisateur" /><br>
        </form>
        <form action="@{TaskController.changeStatusTask}" method="post">
            <a>Statut:<SELECT name="statusId" >
                #{list items:status, as:'statut'}
                    <OPTION value="${statut.id}" ${(task.taskStatus && (task.taskStatus.status.id == statut.id)) ? "selected" : ""}>${statut.name}</OPTION>
                #{/list}
            </SELECT>
                <input type="hidden" name="taskId" value="${task.id}" />
                <input type="submit" value="Changer statut" /><br>
        </form>
    </li>
#{/list}
</ul>



<input type="submit" value="Créer Tâche"><br> <a href="/"><img src="http://i.imgur.com/UFsqRGa.gif" height="80" width="auto"></img></a>
