#{extends 'main.html'/}

<table id="list_task" style="border: solid; background-color: #568C00">
    <thead>
        <tr>
            <th>Status de tâches</th>
        </tr>
    </thead>
    <tbody>
        <tr id="urgent" style="border: solid; background-color: pink">
            <td>
        #{list items:listTasks, as:'task'}
        #{if !task.urgent}
                <div id="Task${task.id}"><b>${task.name}:</b><br />
                    #{if task.creation}
                        Date de création: ${task.creation.format("dd/MM/yyyy")}
                    #{/if}
                    <form action="@{TaskController.changeUserTask}" method="post">
                        Nom de la tache: ${task.name} ${task.urgent ? "" : "(Urgent)"} <br />
                        Description: ${task.content} <br />
                        <form action="@{TaskController.changeUserTask}" method="post">
                            <a>Utilisateur associé:<SELECT name="userId" >
                                #{list items:listUsers, as:'user'}
                                    <OPTION value="${user.id}" ${(task.user && (user.id == task.user.id)) ? "selected" : ""}>${user.name}</OPTION>
                                #{/list}
                            </SELECT>
                                <input type="hidden" name="taskId" value="${task.id}" />
                                <input type="submit" value="Changer utilisateur" /><br> </a>
                        </form>
                        *{<form action="@{TaskController.changeStatusTask}" method="post">}*
                            *{<a>Statut:<SELECT name="statusId" >}*
                                *{#{list items:listStatus, as:'user'}}*
                                    *{<OPTION value="${Status.id}" ${(task.user && (user.id == task.user.id)) ? "selected" : ""}>${user.name}</OPTION>}*
                                *{#{/list}}*
                            *{</SELECT>}*
                                *{<input type="hidden" name="taskId" value="${task.id}" />}*
                                *{<input type="submit" value="Changer utilisateur" /><br></a>}*
                        *{</form>}*
                </div>
        #{/if}
        <br>
        #{/list}
            </td>
        </tr>
        <tr id="non_urgent" style="border: solid; background-color: blue">
            <td>
            #{list items:listTasks, as:'task'}
            #{if task.urgent}
                <div id="Task${task_id}">${task.name}:<br />

                    #{if task.creation}
                        Date de création: ${task.creation.format("dd/MM/yyyy")}
                    #{/if}

                    <form action="@{TaskController.changeUserTask}" method="post">
                        Nom de la tache: ${task.name} ${task.urgent ? "" : "(Urgent)"} <br />
                        Description: ${task.content} <br />
                        <a> Utilisateur associé:<SELECT name="userId" >
                            #{list items:listUsers, as:'user'}
                                <OPTION value="${user.id}" ${(task.user && (user.id == task.user.id)) ? "selected" : ""}>${user.name}</OPTION>
                            #{/list}
                        </SELECT>
                        </a>
                        <input type="hidden" name="taskId" value="${task.id}" />
                        <input type="submit" value="Changer utilisateur" /><br>
                    </form>
                </div>
            #{/if}
            #{/list}
            </td>
        </tr>
    </tbody>
</table>



<input type="submit" value="Créer Tâche"><br> <a href="/"><img src="http://i.imgur.com/UFsqRGa.gif" height="80" width="auto"></img></a>
