<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>NOUVEL UTILISATEUR</title>
</head>
<body>
<h1>Utilisateur</h1>
<img src="http://i.imgur.com/IgnkRPz.png" height="200" width="auto"></img>
<br>
	<form action="@{UserController.save}" method="post">
		<a>Nom utilisateur:<input type="text" name="name"></a> <br> <a>Mot
			de passe:<input type="password" name="password">
		</a> <br> <a>Lien avatar:<input type="text" name="avatar"></a><br>
		<input type="submit" value="Créer utilisateur"><br>
	</form>
<input type="submit" value="Créer Tâche"><br> <a href="/"><img src="http://i.imgur.com/UFsqRGa.gif" height="80" width="auto"></img></a>

</body>
</html>