#{extends 'main.html' /}
#{set title:'Accueil' /}

<h1>MINI-JIRA</h1>

<image src="http://i.imgur.com/iup8nrz.jpg"></image><br>

<a href="@{controllers.TaskController.create}">Créer une tâche</a><br />
<a href="@{controllers.TaskController.displayall}">Afficher les tâches</a><br />
<a href="@{controllers.TaskController.displayAllTable}">Afficher les tâches version tableau</a><br />

<a href="@{controllers.ProjectController.create}">Créer un projet</a><br />
<a href="@{controllers.ProjectController.displayAll}">Afficher les projets</a><br />

<a href="@{controllers.UserController.create}">Créer un utilisateur</a><br />
<a href="@{controllers.UserController.displayAll}">Afficher les Utilisateurs</a><br />

