#{extends 'main.html' /}
#{set title:'Accueil' /}

<h1>MINI-JIRA</h1>

<image src="http://i.imgur.com/iup8nrz.jpg"></image><br>

<ul>
<li><a href="@{controllers.TaskController.create}">Créer une tâche</a></li><br />
<li><a href="@{controllers.TaskController.displayall}">Afficher les tâches</a></li><br />
<li><a href="@{controllers.TaskController.displayAllTable}">Afficher les tâches version tableau</a></li><br />

<li><a href="@{controllers.ProjectController.create}">Créer un projet</a></li><br />
<li><a href="@{controllers.ProjectController.displayAll}">Afficher les projets</a></li><br />

<li><a href="@{controllers.UserController.create}">Créer un utilisateur</a></li><br />
<li><a href="@{controllers.UserController.displayAll}">Afficher les Utilisateurs</a></li><br />
</ul>
